<article *ngIf="project" class="p-4">
  <div class="bg-darkbrown text-cream p-4">
    <header class="text-xl font-bold text-cream mb-10">
      <button class="hover:scale-125 hover:ml-2 transition-all" type="button" (click)="goBack()">Back</button>
    </header>
    <section>
      <h2 class="text-5xl font-bold mb-10">{{ project.title | uppercase }}</h2>
      <div class="text-xl mb-10" [innerHTML]="project.body"></div>
    </section>
    <footer>
      <div *ngIf="project.category">
        Category: <span>{{ project.category.name }}</span>
      </div>
      <div *ngIf="project.tags?.length">
        Tags:
        <span *ngFor="let tag of project.tags">
          {{ tag.name }}
        </span>
      </div>
    </footer>
  </div>
</article>